<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User's form</title>
    <link rel="stylesheet" href="../static/style.css"/>
</head>
<body>
<form action="https://backendflask1.herokuapp.com/" method="post">
    <label for="user_id">User id:</label>
    <input type="text" id="user_id" name="user_id"/><br>
    <label for="user">User name:</label>
    <input type="text" id="user" name="user"/><br>

    <label for="category_id">Category id:</label>
    <input type="text" id="category_id" name="category_id"/><br>
    <label for="category">Category of expenses:</label>
    <input type="text" id="category" name="category"/><br>

    <label for="expenses_id">Expense id:</label>
    <input type="text" id="expenses_id" name="expense_id"/><br>
    <label for="description">Expense description:</label>
    <input type="text" id="description" name="description"/><br>
    <label for="cost">Cost in UAH:</label>
    <input type="text" id="cost" name="cost"/><br>


    <label for="submit">Submit:</label>
    <input type="submit" id="submit" value="submit"/>
</form>
</body>
</html>